html,
body {
    background: #eef2f3 !important;
    width: 100% !important;
    min-height: 100vh !important;
    z-index: 20 !important;
    background: url(/../assets/image/log-bg.jpg) !important;
    background-size: cover !important;
    overflow-y: hidden !important;
}

.main-content {
    min-height: 100%;
    min-height: 100vh;
    align-items: center;
}

.page-content {
    width: 100%;
    min-height: 70vh;
    padding: 50px 50px 50px 50px;
    z-index: 20;
    .bg-color {
        background-color: #fff;
        min-height: 80vh;
        box-shadow: 3px 3px 3px 3px grey !important;
        overflow-y: scroll;
    }
}