html ,
body {
    background: #eef2f3 !important;
    width: 100% !important;
    min-height: 100vh !important;
    z-index: 20 !important;
    background-image: url(/assets/image/login_bg.png) !important;
}